.card-main {
    position: relative;
    box-sizing: border-box;
    font-family: Roboto;
    margin: 3vw 0;
    padding: 0;
    width: 100%;
    font-size: 1vw;
}

.card-main .head .title {
    position: relative;
    color: #e5e5e5;
    display: inline-block;
    font-size: 1.35vw;
    font-weight: 600;
    margin: 0 4% .5em;
    min-width: 6em;
    text-decoration: none;
    font-family: Poppins;
}

.card-main .card-slide {
    position: relative;
    overflow: visible;
}

.card-main .card-slide .slider {
    position: relative;
    margin: 0;
    padding: 0 4%;
    position: relative;
    touch-action: pan-y;
}

.card-main .card-slide .slider .previous-button {
    background: hsla(0,0%,8%,.5);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    left: -2px;
    cursor: pointer;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    width: 4%;
    z-index: 10;
    align-items: center;
    font-size: 3vw;
    margin-top: -2px;
}

.card-main .card-slide .slider .previous-button:hover {
    background: hsla(0,0%,8%,.75);
    font-size: 4vw;
    transition-duration: 0.1s;
}

.card-main .card-slide .slider .next-button {
    background: hsla(0,0%,8%,.5);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    right: 0;
    cursor: pointer;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    width: 4%;
    z-index: 10;
    align-items: center;
    font-size: 3vw;
    margin-top: -2px;
}

.card-main .card-slide .slider .next-button:hover {
    background: hsla(0,0%,8%,.75);
    font-size: 4vw;
    transition-duration: 0.1s;

}

.card-main .card-slide .slider .slider-row {
    position: relative;
    display: flex;
    left: 0;
    flex-direction: row;
    overflow: visible;
    transition-duration: 0.4s;
}

.card-main .card-slide .slider .slider-row .card-wrapper {
    position: relative;
    min-width: 16.66666667%;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 .2vw;
    vertical-align: top;
    white-space: normal;
    border-radius: .2vw;
    height: 100%;
}

.card-main .card-slide .slider .slider-row .card-wrapper img {
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    border: 0;
    border-radius: 5px;
    aspect-ratio: 16/9;
}

.card-main .card-slide .slider .slider-row .card-wrapper .card-hover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    transition-duration: 0.2s;
  
}

.card-main .card-slide .slider .slider-row .card-wrapper .card-true{
    z-index: 20;
    top: -100px;
}


.card-main .card-slide .slider .slider-row .card-wrapper .card-hover .hover-image {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0;
    padding: 0 .2vw; 
    width: 100%;
    transform: translate(-50%, -50%);
    aspect-ratio: 16/9;
    overflow: visible;
    transition-duration: 0.2s;
}

.card-main .card-slide .slider .slider-row .card-wrapper .card-hover .hover-image img {
    border-radius: 5px 5px 0px 0px; 
}

.card-main .card-slide .slider .slider-row .card-wrapper .card-hover .hover-true { 
    width: 150%;
}

.card-main .card-slide .slider .slider-row .card-wrapper .card-hover .card-left-true { 
    transform: translate(-35%, -50%);
}

.card-main .card-slide .slider .slider-row .card-wrapper .card-hover .card-right-true { 
    transform: translate(-65%, -50%);
}

.card-main .card-slide .slider .slider-row .card-wrapper .card-hover .hover-image .info{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 99%;
    background-color: #181818;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    padding: 20px 20px;
    transition-duration: 0.2s;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    
}

.card-main .card-slide .slider .slider-row .card-wrapper .card-hover .hover-image .info .movie-title{
    position: relative;
    display: flex;
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 0;
    margin-top: .8vw;
    height: 100%;
}

.card-main .card-slide .slider .slider-row .card-wrapper .card-hover .hover-image .info-true {
    display: flex;
    opacity: 1;
    transition-duration: 0.2s;
    z-index: 6;
    max-height: 110%;
    transition-duration: 0.01s;
}

.card-hover .hover-image .info .button-box{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    white-space: nowrap;
}

.card-hover .hover-image .info .button-box .button-item{
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vw;
    border: 2px solid hsla(0,0%,100%,.5);
    border-radius: 25px;
    padding: 7px;
    min-width: 32px;
    min-height: 32px;
    max-width: 42px;
    max-height: 42px;
    outline: none;
    background: rgba(255, 255, 255, 0);
    white-space: nowrap;
}

.card-hover .hover-image .info .button-box .button-item:hover{
    background: rgba(255, 255, 255, 0.25);
}

.card-hover .hover-image .info .show-info{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    width: 100%;
    color: white;
    font-family: Roboto;
    margin-top: .3vw;
    gap: 0.5vw;
    
}

.card-hover .hover-image .info .show-info .match {
    color: #43CA65;
    font-weight: 700;
    font-size: 16px;
}

.card-hover .hover-image .info .show-info .episode {
    color: lightgray;
    font-size: 15px;
}

.card-hover .hover-image .info .show-info .hd {
    color: white;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 2px;
    padding: 1px 5px;
    font-size: 9px;
    font-family: Poppins;
    font-weight: 500;
}

.card-hover .hover-image .info .genres {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    gap: 5px;
    margin-top: 10px;
}

.card-hover .hover-image .info .genres div {
    color: white;
    font-family: Poppins;
    font-weight: 500;
}

@media (max-width: 1400px) {
    .card-main .card-slide .slider .slider-row .card-wrapper {
        min-width: 20%;
    }

}

@media (max-width: 1100px) {
    .card-main .card-slide .slider .slider-row .card-wrapper {
        min-width: 25%;
    }
}

@media (max-width: 800px) {
    .card-main .card-slide .slider .slider-row .card-wrapper {
        min-width:  33.333333%;
    }
}


@media (max-width: 500px) {
    .card-main .card-slide .slider .slider-row .card-wrapper {
        min-width:  50%;
    }
}